<section class="relative w-full overflow-hidden">
    <div class="swiper swiper-eventos" style="height: 500px;">
        <div class="swiper-wrapper" id="containerGames"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
<section class="max-w-7xl mx-auto px-4 py-8">
    <h2 style="font-size:2rem; font-weight:900; margin-bottom:24px;">Eventos por Categorías</h2>
    <div class="swiper swiper-categories">
        <div class="swiper-wrapper" id="containerCategories"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
<section class="max-w-7xl mx-auto px-4 py-8">
    <h2 style="font-size:2rem; font-weight:900; margin-bottom:24px;">Busca los eventos de tus equipos favoritos</h2>
    <div class="swiper swiper-teams">
        <div class="swiper-wrapper" id="containerTeams"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
<section class="max-w-7xl mx-auto px-4 py-8">
    <h2 style="font-size:2rem; font-weight:900; margin-bottom:24px;">Busca los eventos por estadios </h2>
    <div class="swiper swiper-estadios">
        <div class="swiper-wrapper" id="containerEstadios"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/tickiticket_v7/module/home/model/controller_home-js.js"></script>